@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  display: flex;
}

.main {
  width: 75%;
  background: #9999;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.bill{
  position: fixed;
  right: 0;
  width: 25%;
  text-align: center;
  background: #FFF;
}

* {
    font-family: 'Prompt';
}

#searchBox {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    width: 91%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

#searchIcon {
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 20px;
}

#searchIcon2 {
    font-family: 'Prompt';
    margin-left: 6px;
    margin-right: 8px;
    padding-top: 2px;
    font-size: 22px;
    font-weight: 300;
}

#searchInput {
    margin-left: 5px;
    border: 0;
    background: optical;
    outline: none;
    width: 100%;
}

.header {
  text-align: center;
}

.nav{
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.nav button{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: none;
}

.btn {
  width: 27%;
  height: 40px;
  background: #fff;
  border-radius: 5px;
}

@media screen and (max-width:1200px) {
  .card {
    min-width: 21%;
  }
}

@media screen and (max-width:1000px) {
  .card {
    min-width: 40%;
  }
  .bill {
    width: 30%;
  }
  .main {
    width: 70%;
  }
}

@media screen and (max-width:880px) {
  .card {
    min-width: 40%;
  }
  .bill {
    width: 35%;
  }
  .main {
    width: 65%;
  }
}

@media screen and (max-width:700px) {
  .card {
    min-width: 90%;
  }
  .bill {
    width: 40%;
  }
  .main {
    width: 60%;
  }
}

@media screen and (max-width:650px) {
  .card {
    min-width: 90%;
  }
  .bill {
    width: 45%;
  }
  .main {
    width: 55%;
  }
}

.menu {
  display: flex;
  margin-right: 1%;
  margin-left: 1%;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 21%;
  border-radius: 8px;
  background: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35%;
}

.img {
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.img img{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.label-item {
  margin-left: 15px;
  margin-top: -10px;
}

.list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 450px;
  max-height: 450px;
}

table {
  margin-top: 50px;
}

table tr {
  height: 40px;
}

table tr .amount{
  text-align: left;
  width: 50px;
}

table tr .name{
  text-align: left;
  width: 220px;
}

table tr .price{
  text-align: right;
  width: 130px;
}

hr {
  width: 90%;
  background: #888;
  border: 1px solid #888;
  border-radius: 5px;
}

.footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 20px;
}

.footer .tag{
  text-align: left;
  width: 40%;
}

.footer .total{
  text-align: right;
  width: 60%;
}

.button {
  margin-top: 30px;
}

.order {
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  border-radius: 5px;
  width: 40%;
  height: 38px;
  justify-content: space-around;
}


